body {
    background: #111;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#mapa {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    transform: translateY(50px);
}

.tile {
    position: absolute;
    width: 512px;
    height: 512px;
    image-rendering: pixelated;
    pointer-events: none;
}
